* {
  box-sizing: border-box;
}

body {
  margin-left: 10%;
  margin-right: 10%;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

#scrolly {
  position: relative;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 5px;
  /* gap: 5px; */

  padding: 5px;
  
  border: darkgray solid 5px;
}

#step-area {
  grid-column: 1/2;
  grid-row: 1/1;

  padding: 5px;

  border: antiquewhite solid 5px;

  /* z-index: 1; */
}

#fig-area {
  grid-column: 2/3;
  grid-row: 1/1;
  padding: 5px;

  border: aliceblue solid 5px;
}

.step {
  margin: auto;
  width: 50%;

  margin-bottom: 100px;
  padding: 15px;
  aspect-ratio: 1.6;

  /* transform: translateY(-50%); */

  background-color: burlywood;
}

.step:last-child {
  margin-bottom: 0;
}

#fig {
  position: sticky;
  top: 50%;

  margin: auto;
  
  width: 50%;
  aspect-ratio: 1.6;

  padding: 5px;

  /* transform: translateY(-50%); */
  
  background-color: royalblue;
  color: white;

  font-weight: bold;
  font-size: 40px;
}
