* {
  box-sizing: border-box;
}

body {
  margin-left: 0;
  margin-right: 0;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

#scrolly {
  position: relative;
  
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 5px;

  padding: 5px;
  
  background-color: lightgray;
}

#steps {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;

  padding: 5px;

  background-color: antiquewhite;
}

.step {
  margin-bottom: 100px;
  padding: 15px;
  aspect-ratio: 1.6;

  background-color: burlywood;
}

.step:last-child {
  margin-bottom: 0;
}

#figs {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;

  padding: 5px;

  background-color: aliceblue;
}

#fig {
  position: sticky;
  top: 200px;

  width: 100%;
  aspect-ratio: 1.6;

  padding: 5px;
  
  background-color: royalblue;
  color: white;

  font-weight: bold;
  font-size: 40px;
}
